@model ProjectAddFormModel
@{
    ViewData["Title"] = "Add Project";
}

<h2 class="text-center"> @ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" enctype="multipart/form-data">

            <partial name="_ProjectFormPartial" model="@Model" />

            <div class="form-group p-2">
                <label asp-for="Images" class="form-label">Your Images</label>
                <input class="form-control" asp-for="Images" type="file" id="formFile" multiple />
                <span asp-validation-for="Images"></span>
            </div>

            <div class="text-center">
                <input class="btn btn-outline-dark mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}