@model AllProjectsViewModel
@{
    ViewBag.Title = "All Projects";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
@if (!Model.Projects.Any())
{
    <h2 class="text-center">There are no Challenges yet!</h2>
}

<div class="row">
    @foreach (var project in Model.Projects)
    {
        <partial name="_ProjectPartial" model="@project" />
    }
</div>