@model ProjectEditFormModel
@{
    ViewData["Title"] = "Edit Project";
}

<h2 class="text-center"> @ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post" enctype="multipart/form-data">

            <partial name="_ProjectFormPartial" model="@Model" />

            <div class="form-group p-2">
                <label asp-for="NewImages" class="form-label">Your Images</label>
                <input class="form-control" asp-for="NewImages" type="file" id="formFile" multiple />
                <span asp-validation-for="NewImages"></span>
            </div>

            @if (Model.ImageDeleteFormModels != null)
            {
                for (int i = 0; i < Model.ImageDeleteFormModels.Count; i++)
                {
                    string base64Image = Convert.ToBase64String(Model.ImageDeleteFormModels[i].ExistingImage);

                    <div class="form-check">
                        <input type="hidden" asp-for="@Model.ImageDeleteFormModels[i].Id" />
                        <input class="form-check-input p-2" type="checkbox" asp-for="@Model.ImageDeleteFormModels[i].ToBeDeleted" id="flexCheckDefault_@i" />
                        <label class="form-check-label" for="flexCheckDefault_@i">
                            Delete Image
                        </label>
                    </div>

                    <img class="card-img-top" src="data:image/jpeg;base64,@base64Image" alt="Image" />
                }
            }
            else
            {
                <p>Image not found</p>
            }
            <div class="text-center p-2">
                <input class="btn btn-outline-dark mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}